<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @{Html.RenderAction("_NavBar", "Home");}
    </div>
    <div class="container body-content">
        <div class="main-body">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p class="col-md-3">&copy; @DateTime.Now.Year - @TempData["TestMyselfToday"]</p>

            <p class="col-md-9">
                <a href="~/terms.html" target="_blank">@TempData["TermsConditions"]</a>
                &nbsp;&nbsp;
                <a href="~/privacy.html" target="_blank">@TempData["Privacy"]</a>
                &nbsp;&nbsp;
                <a href="https://www.facebook.com/testmyselftoday?ref=hl" target="_blank">@TempData["SocialFacebook"]</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/pace")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
