@model TestMyselfToday.Models.TestResult

@{
    ViewBag.Title = "Delete";
}


<style type="text/css">
    .panel-delete {
        margin-top: 10px;
        overflow: auto;
    }
</style>


<div class="col-md-12">
    <div class="panel-delete">
        <div class="panel panel-success">
            <div class="panel-heading">
                Test-Result {Delete}
            </div>
            <div class="panel-body">
                <h3>Are you sure you want to delete this?</h3>

                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        Title
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TitleText)
                    </dd>

                    <dt>
                        Role
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResultText)
                    </dd>

                    <dt>
                        Details
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResultDetail)
                    </dd>

                    <dt>
                        Range Start
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RangeStart)
                    </dd>

                    <dt>
                        Range End
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RangeEnd)
                    </dd>

                    <dt>
                        Test
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Test.Title)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
